<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Skillo.bg">
    <test name="Regression">
        <classes>
            <class name="tests.HomePageTest"/>
            <class name="tests.LandingPageTest"/>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->